.DemoLayer {
  &.UploadLayer {
    .DemoLayer__tooltip {
      width: 200px;
      line-height: 22px;
      &.comm_tooltip {
        top: 70px;
        right: 580px;
        svg {
          height: 175px;
          position: absolute;
          right: -80px;
          top: -60px;
          transform: rotate(-90deg);
        }
      }
      &.cut_tooltip {
        top: 40vh;
        left: 22%;
        svg {
          height: 20vh;
        }
      }
      &.clear_tooltip {
        top: 50vh;
        left: 41%;
      }
      &.video_tooltip {
        top: 40vh;
        left: 60%;
        svg {
          height: 20vh;
        }
      }
      &.addC_tooltip {
        top: 50vh;
        left: 79%;
      }
      &.videAdd_tooltip {
        top: auto;
        bottom: 7vh;
        left: 50%;
      }
    }
  }
}

@media all and (max-width: 575px){
  .DemoLayer.UploadLayer {
    .DemoLayer__tooltip {
      text-align: left;
      font-size: 14px;
      img {
        max-height: none !important;
      }
      &.comm_tooltip {
        right: 45%;
        top: 7vh;
      }
      &.cut_tooltip {
        left: 3%;
        top: 27vh;
      }
      &.clear_tooltip {
        top: 47vh;
        left: 27%;
      }
      &.video_tooltip {
        top: 37vh;
        left: 44%;
      }
      &.addC_tooltip {
        top: 22vh;
        left: auto;
        right: 0;
      }
      &.videAdd_tooltip {
        top: 80vh;
        left: 50%;
      }
    }
  }
}